<html>
    <head>
      <meta charset="utf-8">
      {% if title %}
      <title>{{ user.username }}'s - Bookmarks</title>
      {% endif %}
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/skeleton.css">
      <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>
      <div class="container">
        <h1>{{ user.username }}'s Bookmarks</h1>
        <nav class="navbar">
          <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/bookmarks/new">Add</a></li>
          </ul>
        </nav>
      </div>
      {% block content %}{% endblock %}
    </body>
</html>
